@import "tailwindcss";

body{
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 4px; 
  height: 8px; 
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: #d0d2d3;
  cursor: pointer;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #002B4E;
  border-radius: 10px; 
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #002B4E;
}


  @keyframes fadeIn {
          from {
            opacity: 0;
            transform: translateY(-10px);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
        
        @keyframes slideDown {
          from {
            opacity: 0;
            max-height: 0;
            transform: translateY(-10px);
          }
          to {
            opacity: 1;
            max-height: 300px;
            transform: translateY(0);
          }
        }
        
        .animate-fadeIn {
          animation: fadeIn 0.2s ease-out;
        }
        
        .animate-slideDown {
          animation: slideDown 0.3s ease-out;
        }